<!-- 1. NAVIGATION RAIL (Izquierda del todo) -->
<nav class="nav-rail">
    <div class="rail-fab ripple-btn">
        <div class="icon" style="width: 24px; height: 24px;">{% include 'UI/icons/svg/magnify.svg' ignore missing %}</div>
    </div>

    <a href="/devices" class="rail-item active">
        <div class="rail-icon">{% include 'UI/icons/svg/devices.svg' ignore missing %}</div>
        <span>Dispositivos</span>
    </a>

    <a href="/rooms" class="rail-item">
        <div class="rail-icon">{% include 'UI/icons/svg/home.svg' ignore missing %}</div>
        <span>Espacios</span>
    </a>

    <a href="/scenes" class="rail-item">
        <div class="rail-icon">{% include 'UI/icons/svg/star-outline.svg' ignore missing %}</div>
        <span>Escenas</span>
    </a>

    <a href="/health" class="rail-item">
        <div class="rail-icon">{% include 'UI/icons/svg/pulse.svg' ignore missing %}</div>
        <span>Salud Red</span>
    </a>

    <a href="/guide" class="rail-item">
        <div class="rail-icon">{% include 'UI/icons/svg/information-outline.svg' ignore missing %}</div>
        <span>Guía RF</span>
    </a>
</nav>
