{# Macros Jinja para generar botones reutilizables #}

{% macro m3_button(text, style='filled', extra_classes='ripple-btn', icon='') %}
<button class="btn-m3 btn-{{ style }} {{ extra_classes }}">
    {% if icon %}
        {{ icon|safe }}
    {% endif %}
    {{ text }}
</button>
{% endmacro %}

{% macro m3_fab_large(icon, extra_classes='ripple-btn') %}
<button class="fab-large {{ extra_classes }}">
    {{ icon|safe }}
</button>
{% endmacro %}

{% macro m3_fab(icon, variant='', extra_classes='ripple-btn') %}
<button class="fab-normal {{ variant }} {{ extra_classes }}">
    {{ icon|safe }}
</button>
{% endmacro %}

{% macro m3_icon_btn(icon, style='standard', extra_classes='ripple-btn') %}
<button class="icon-btn {{ style }} {{ extra_classes }}">
    {{ icon|safe }}
</button>
{% endmacro %}
