{% macro m3_checkbox(name, checked=False) %}
<label class="m3-control">
    <input type="checkbox" name="{{ name }}" {% if checked %}checked{% endif %}>
    <div class="m3-box"></div>
</label>
{% endmacro %}

{% macro m3_radio(name, value, checked=False) %}
<label class="m3-control">
    <input type="radio" name="{{ name }}" value="{{ value }}" {% if checked %}checked{% endif %}>
    <div class="m3-radio"></div>
</label>
{% endmacro %}

{% macro m3_switch(name, checked=False) %}
<label class="m3-switch-label">
    <input type="checkbox" name="{{ name }}" {% if checked %}checked{% endif %}>
    <div class="m3-switch"></div>
</label>
{% endmacro %}
