# ==============================================================================
# HUB REQUIREMENTS — Dependencias Central Colmena
# ==============================================================================

# Web & HTTP
flask>=2.3.0
flask-cors>=4.0.0
requests>=2.31.0
requests-toolbelt>=1.0.0

# Base de Datos & ORM
SQLAlchemy>=2.0.0

# Configuración & Formatos
python-dotenv>=1.0.0
pyyaml>=6.0.1
tqdm>=4.66.0
colorama>=0.4.6

# Hardware & Serial USB
pyserial>=3.5
hidapi>=0.14.0

# CLI & Terminal UI
rich>=13.7.0
click>=8.1.7
rich-click>=1.7.0
questionary>=2.0.1

# Compilador de Firmware
platformio>=6.1.11
